<!DOCTYPE html>
<html lang="en">
    <head>
        <title>home</title>
    </head>
    <body>
        {% load static %}
        <header>
            <div class="headpart">
                <img class="logo" src="{% static 'img/shome/c_log.png' %}">
                <h1 class="title">Klan</h1>
                <img class="profile_icon" src="{% static 'img/shome/pro.png' %}">
            </div>
        </header>
        <div class="profile_bar">
            <ul>
                <li>{{ data.s_fname }} {{ data.r_no }}</li>
                <li><a href="{% url 'liba' %}">Library</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>

            </ul>
        </div>
        <div class="menu_bar">
            <div class="home_but">
                <h5>Home</h5>
                <img class="home_icon" src="{% static 'img/shome/home_icon.svg' %}">
            </div>
            <a href="{% url 'ask' %}">
                <div class="ask_but">
                    <h5>Ask</h5>
                    <img src="{% static 'img/shome/ask_icon.svg' %}">
                </div>
            </a>
            <a href="{% url 'answer_page'%}">
                <div class="ans_but">
                    <h5>Answer</h5>
                    <img src="{% static 'img/shome/answer_icon.svg' %}">
                </div>
            </a>
            <a href="{% url 'notf' %}">
                <div class="notf">
                    <h5>Notifications</h5>
                </div>
            </a>
            <div class="image">
                <img src="{% static 'img/shome/draw.svg' %}">
            </div>
        </div>
        <div class="question_answer_display">
            <h2>Trending</h2>
            <ul>
                {% for que in question %}
                    <div class="que_set">
                        <a href="{% url 'ques' que.q_id.q_id %}">
                            <li>
                                <div class="question_box">
                                    <div class="q_top">
                                        <h4>{{ que.q_id.s_id.s_fname }} {{que.q_id.s_id.r_no }}</h4>
                                        <h4>{{ que.q_id.time }}</h4>
                                    </div>
                                    <div class="q_filter">
                                        <h4>{{ que.q_id.s_id.dept}}</h4>
                                        <h4>{{ que.q_id.domain }}</h4>
                                    </div>
                                    <div class="q_text">
                                        <h4>{{ que.q_id.q_text}}</h4>
                                    </div>
                                </div>
                            </li>
                        </a>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <footer>
            <div class="footerpart">
                <img src="{% static 'img/shome/co_logo.svg' %}">
                <img src="{% static 'img/shome/follow.svg' %}">
            </div>
        </footer>
    </body>
</html>